{% extends "base.html" %}
{% load static %}
{% block main %}

<section>
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-11 col-sm-9 col-md-8 col-lg-9 mx-auto">
                    <div class="card rounded-pill mb-2">
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-10 col-md-9">
                                    <div class="px-3">
                                        <a href="" class="todo-title">サンプルタイトル</a>
                                    </div>
                                </div>
                                <div class="col-2 col-md-3">
                                    <div class="text-right px-3">
                                        <a href="">
                                            <i class="icofont-ui-delete text-pink font-20 text-danger"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded-pill mb-2">
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-10 col-md-9">
                                    <div class="px-3">
                                        <a href="" class="todo-title">サンプルタイトル</a>
                                    </div>
                                </div>
                                <div class="col-2 col-md-3">
                                    <div class="text-right px-3">
                                        <a href="">
                                            <i class="icofont-ui-delete text-pink font-20 text-danger"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded-pill mb-2">
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-10 col-md-9">
                                    <div class="px-3">
                                        <a href="" class="todo-title">サンプルタイトル</a>
                                    </div>
                                </div>
                                <div class="col-2 col-md-3">
                                    <div class="text-right px-3">
                                        <a href="">
                                            <i class="icofont-ui-delete text-pink font-20 text-danger"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline-block bg-white plus-btn shadow">
            <a href="">
                <i class="icofont-plus plus-icon"></i>
            </a>
        </div>
    </div>
</section>

{% endblock %}